$fullWidth: 1920px;
$mobileWidth: 576px;

/* временная переменная штука для быстрого включения выключения границ элемента при отладке */
@mixin tempBorder {
    border: 2px solid red;
    box-sizing: border-box;
}

@mixin hoverBrown {
    &:hover {
        color: #c7b299;
    }
}

body {
    font-family: 'Montserrat';
    color: #ffffff;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;


    a {
        text-decoration: none;
    }

    button {
        border: none;
        outline: none;
    }

}

.big-yellow-button {
    display: block;
    margin: 50px auto 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    width: 170px;
    height: 53px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    box-sizing: border-box;
    background-color: #998675;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    line-height: 53px;
    color: #ffffff;
    text-align: center;

    &:hover {
        color: rosybrown;
        background-color: black;
    }

    &:active {
        color: rosybrown;
        background-color: black;
        box-shadow: 0px -3px 0 0 #736357;

    }
}

section {
    width: $fullWidth;
    margin: 0 auto;
}

header {
    width: $fullWidth;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgba(17, 17, 17, 0.7) url(../img/header-photo.jpg) center center no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: 100%;
    /* для красоты прокрутки добавлено background-attachment: fixed; но тогда при уменьшении масштаба картинку кропает =(*/
    height: 1024px;


    #header-nav-toggle {
        display: none;
    }


    .header-nav {
        display: flex;
        padding: 40px 374px 277px 374px;
        height: 56px;
        justify-content: space-between;



        &-pusher {
            flex-grow: 1;
        }

        /* Нужен для отделения логотипа от меню, чтобы не разбивать интервал между ними паддингом. Занимает место и расталкивает элементы к левому/правому краям, при этом по идее в случае уменьшения ширины экрана не будет мешать переносу элементов */

        &-list {
            font-weight: 300;
            font-size: 14px;
            padding-top: 5px;
            float: right;

            ul {
                display: flex;

                li {
                    list-style: none;
                    padding-right: 27px;

                    a {
                        color: #ffffff;

                        @include hoverBrown;

                        &:active {
                            color: black;
                        }
                    }

                    &:nth-child(2) a {
                        color: #c7b299;
                    }

                    &:last-child {
                        margin-right: 20px;
                    }


                }
            }

        }

        .header-cart {
            border: none;
            background-color: transparent;
            background: url(../img/icons/icon-cart.svg) center center no-repeat;
            width: 40px;
            height: 40px;
            color: #ffffff;
            margin-top: 5px;
            margin-right: 20px;

            &:hover {
                background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 24"><path d="M15,3H13.5c0-1.66-2-3-4.5-3S4.5,1.34,4.5,3H3A3,3,0,0,0,0,6V21a3,3,0,0,0,3,3H15a3,3,0,0,0,3-3V6A3,3,0,0,0,15,3ZM9,1.5c1.66,0,3,.46,3,1.5H6C6,2,7.34,1.5,9,1.5ZM16.49,21A1.52,1.52,0,0,1,15,22.5H3A1.5,1.5,0,0,1,1.5,21V19.5h15Zm0-3H1.5V6A1.5,1.5,0,0,1,3,4.5H4.5V9H6V4.5h6V9h1.5V4.5H15A1.52,1.52,0,0,1,16.49,6Z" style="fill:%23c7b299;fill-rule:evenodd"/></svg>');
                background-size: 18px 24px;
            }

            &:active {
                border: 2px solid #c7b299;
                border-radius: 50%;
                box-shadow: none;
                box-sizing: border-box;
                /*     Все равно при нажатии остается какая-то штатная рамка нажатости кнопки, outline none ее не убирает, пока пусть так, но что-то тут не то =( */
            }

        }

        .header-search {
            margin-top: 15px;
            position: relative;

            svg {
                fill: #fff;
                cursor: pointer;
            }

            &:hover svg {
                fill: #c7b299;
            }

            input {
                width: 0;
                outline: none;
                border: none;
                padding: 0;
                position: absolute;
                top: 40px;
                right: -10px;
            }

            input:focus {
                width: 300px;
                transition: width 1s ease-out;
                margin-right: 10px;
                padding: 4px;
            }
        }

    }

}

.header-logo {
    font-family: 'Raleway';
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    line-height: 56px;
    color: #ffffff;

    &::before {
        content: '';
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="63.031" height="55.125" viewBox="0 0 63.031 55.125"><path fill="%23fff" id="logos" class="cls-1" d="M413.108,50.713H402.6l5.254,9.191Zm-11.822.767-5.254,9.191H406.54Zm18.39,9.191-5.254-9.191-5.254,9.191h10.508ZM409.168,62.2l5.254,9.188,5.254-9.188H409.168Zm-13.136,0,5.254,9.188L406.54,62.2H396.032Zm-6.567,9.952h10.506l-5.253-9.187Zm36.778,0-5.253-9.187-5.252,9.187h10.5Zm-18.389-32.16-5.254,9.19h10.508ZM420.99,82.874l5.253-9.188h-10.5Zm-26.272,0,5.253-9.188H389.465Zm-11.821.767H393.4l-5.253-9.19Zm49.914,0-5.254-9.19-5.254,9.19h10.508ZM422.3,85.172l5.254,9.187,5.254-9.187H422.3Zm-13.135,0,5.254,9.187,5.254-9.187H409.168Zm-21.017,9.187,5.253-9.187H382.9Zm-11.82.769h10.5l-5.254-9.188Zm26.269,0h10.508l-5.254-9.188Zm13.138,0h10.5l-5.253-9.188Zm18.387-9.188-5.252,9.188h10.5Z" transform="translate(-376.344 -40)"/></svg>') no-repeat;
        display: block;
        float: left;
        width: 64px;
        height: 56px;
        margin: 0;
    }

    @include hoverBrown;

    &:hover::before {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="63.031" height="55.125" viewBox="0 0 63.031 55.125"><path fill="%23c7b299" id="logos" class="cls-1" d="M413.108,50.713H402.6l5.254,9.191Zm-11.822.767-5.254,9.191H406.54Zm18.39,9.191-5.254-9.191-5.254,9.191h10.508ZM409.168,62.2l5.254,9.188,5.254-9.188H409.168Zm-13.136,0,5.254,9.188L406.54,62.2H396.032Zm-6.567,9.952h10.506l-5.253-9.187Zm36.778,0-5.253-9.187-5.252,9.187h10.5Zm-18.389-32.16-5.254,9.19h10.508ZM420.99,82.874l5.253-9.188h-10.5Zm-26.272,0,5.253-9.188H389.465Zm-11.821.767H393.4l-5.253-9.19Zm49.914,0-5.254-9.19-5.254,9.19h10.508ZM422.3,85.172l5.254,9.187,5.254-9.187H422.3Zm-13.135,0,5.254,9.187,5.254-9.187H409.168Zm-21.017,9.187,5.253-9.187H382.9Zm-11.82.769h10.5l-5.254-9.188Zm26.269,0h10.508l-5.254-9.188Zm13.138,0h10.5l-5.253-9.188Zm18.387-9.188-5.252,9.188h10.5Z" transform="translate(-376.344 -40)"/></svg>') no-repeat;
    }
}

.header-main {
    padding: 0 161px 327px 159px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    & button {
        width: 52px;
        height: 52px;
        border: none;
        border-top: 3px solid rgba(255, 255, 255, 0.5);
        border-left: 3px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        cursor: pointer;
        margin-top: 112px;

        &:hover {
            border-color: #d3c1ad;
        }

        &:active {
            border-color: black !important;
        }

        &.arrow-active {
            border-color: #d3c1ad;
        }
    }

    &-left {
        transform: rotate(-45deg);
    }

    &-info {
        text-align: center;

        & h2 {
            margin: 0;
            font-family: Raleway;
            font-size: 36px;
            font-weight: 500;
        }

        & h1 {
            margin: 0;
            padding-top: 3px;
            font-family: Raleway;
            font-size: 52px;
            font-weight: 800;
            letter-spacing: 0.011em;
        }

        & p {
            width: 590px;
            margin: 0;
            padding-top: 14px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
        }

    }

    &-right {
        transform: rotate(135deg);
    }

}

.header-main-pagination {
    margin: 0 auto;
    width: 100px;
    display: flex;
    justify-content: space-between;

    &-circle {
        display: block;
        width: 5px;
        height: 5px;
        background-color: #ffffff;
        border-radius: 50%;
        border: 2px solid transparent;
        opacity: 0.5;

        &.circle-active {
            background-color: transparent;
            border: 2px solid #d3c1ad;
            transform: scale(1.9);
        }

        &:hover {
            background-color: transparent;
            border: 2px solid #d3c1ad;
            transform: scale(1.9);
        }
    }
}

main {
    width: $fullWidth;
    margin: 0 auto;
}

.features {
    text-align: center;

    &-blok-wrap {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        padding: 80px 345px 80px 345px;

    }

    &-block {
        width: 270px;
        text-align: center;
        margin: 0 15px 0 15px;

        &-icon {
            fill: #555555;
            display: block;
            height: 49px;
            margin: auto auto;

        }

        h2 {
            margin: 0;
            padding-top: 20px;
            font-family: Raleway;
            font-size: 22px;
            font-weight: 600;
            color: #555555;

        }

        p {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.71;
            color: #8c8c8c;
            margin-bottom: 27px;
            font-kerning: normal;
        }

        hr {
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
            border: none;
        }

        /* Я понимаю, как сделать это через ::after, но не понимаю, почему нельзя через hr? Вроде бы все еще поддерживаемый, не выведенный из использования тег... Или смысл в экономии кода в html, задав after для всех элементов 1 раз? */

        &:hover svg,
        &.active-block svg {
            fill: #c7b299;
        }

        &:hover h2,
        &.active-block h2 {
            color: #c7b299;
        }

        &:hover hr,
        &.active-block hr {
            background-color: #c7b299;
        }
    }

    &-content-wrap {
        background-color: #fbfaf8;
        padding: 70px 345px 0 345px;

        h2 {
            margin: 0;
            font-family: Raleway;
            font-size: 30px;
            font-weight: 600;
            color: #555555;
        }

        p {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.75;
            color: #8c8c8c;
            padding: 15px 0 32px 0;
            width: 780px;
            margin: 0 auto;
            font-kerning: none;
        }
    }

    &-pics {
        min-height: 482px;
        background-image: url(../img/browser-center.jpg), url(../img/browser-left.jpg), url(../img/browser-right.jpg);
        background-repeat: no-repeat;
        background-position: center, left 82px, right 82px;
    }


}

aside {
    min-height: 150px;
    background: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    justify-content: space-between;
    padding: 43px 345px 0 345px;
    box-sizing: border-box;

    h2 {
        font-family: Raleway;
        font-size: 28px;
        font-weight: 400;
        color: #ffffff;
        margin: 0;
        padding-left: 32px;
        font-kerning: none;

        span {
            color: #c7b299;
        }
    }

    p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        color: #615855;
        margin: 0;
        padding: 3px 0 0 29px;
    }

    .big-yellow-button {
        margin: 6px 30px;
    }
}

.section-desc-p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #8c8c8c;
    width: 800px;
    margin: 14px auto 34px auto;
}

.projects {
    padding: 78px 345px 0 345px;
    text-align: center;
    box-sizing: border-box;

    h2 {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
        margin: 0;
    }

    &-nav {
        display: flex;
        justify-content: center;

        &-element {
            margin: 0 7px;
            text-decoration: none;
            height: 32px;
            border-radius: 5px;
            border: solid 1px #ebebeb;
            min-width: 70px;
            box-sizing: border-box;
            padding: 0 18px 0 18px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 32px;
            text-align: center;
            color: #8c8c8c;
            cursor: pointer;

            &:hover,
            &.active-projects-button {
                color: #ffffff;
                background-color: #998675;
            }

            &:active {
                color: #ffffff;
                background-color: #998675;
                border-color: black;
            }
        }
    }

    &-pics {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;

        &-item {
            width: 370px;
            background-color: #fbfaf8;
            margin: 0 15px 30px 15px;
            text-align: left;
            position: relative;

            &-hoverlay {
                display: none;
                position: absolute;
                width: 370px;
                height: 237px;

                a {
                    display: block;
                    text-decoration: none;
                    width: 25px;
                    height: 25px;
                    margin: 0 14px;

                    &:first-child {
                        background: url(../img/icons/share.svg) no-repeat;
                    }

                    &:last-child {
                        background: url(../img/icons/search-2.svg) no-repeat;
                    }

                }
            }

            h3 {
                margin: 24px 0 0 0;
                font-family: Raleway;
                font-size: 20px;
                font-weight: 500;
                color: #c7b299;
                position: relative;
                padding-left: 30px;

                &:before {
                    content: '';
                    display: block;
                    border: 20px solid transparent;
                    border-bottom: 15px solid #fbfaf8;
                    position: absolute;
                    top: -58px;
                    left: 15px;

                }
            }

            span {
                display: block;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                color: #d1d1d1;
                margin: 0;
                padding: 7px 0 27px 30px;
            }

            &.active-projects-pic,
            &:hover {
                background-color: #362f2d;
            }

            &.active-projects-pic h3,
            &:hover h3 {
                color: #ffffff;

                &:before {
                    border-bottom: 15px solid #362f2d;
                }
            }

            &.active-projects-pic p,
            &:hover p {
                color: #c7b299;
            }

            &.active-projects-pic .projects-pics-item-hoverlay,
            &:hover .projects-pics-item-hoverlay {
                display: flex;
                background-color: rgba(17, 17, 17, 0.7);
                justify-content: center;
                align-items: center;
            }

        }

    }

    & .big-yellow-button {
        margin-top: -36px;
        margin-bottom: 80px;
    }

}

.video {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
    min-height: 500px;

    & video {
        width: 100%;
        object-fit: cover;
    }

    &-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        &-playbtn {
            width: 100px;
            height: 100px;
            margin: 210px auto 36px auto;
            border: none;
            border-radius: 50%;
            outline: none;
            background-color: rgba(0, 0, 0, 0.2);

            .video-play-btn-icon {
                fill: #fff;
            }

            &:hover .video-play-btn-icon {
                fill: #8c8c8c;
            }

            &:active .video-play-btn-icon {
                fill: black;
            }

        }

        & h2 {
            font-family: Raleway;
            font-size: 30px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 13px;
        }

        & p {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.75;
            margin: 0;
            padding-bottom: 30px;
        }

        & span {
            font-family: Montserrat;
            font-size: 14px;
            line-height: 1.71;
            color: #c7b299;
            display: block;
            margin: 0;
            padding: 0 0 0 0;
        }

    }

}

.mobile {
    min-height: 695px;
    background: url(../img/i-phone-in-hand.jpg) no-repeat;
    background-position: 421px 72px;
    display: block;
    padding-right: 391px;
    box-sizing: border-box;

    &-wrap {
        width: 657px;
        float: right;
        margin-top: 184px;
    }

    & h2 {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
        margin: 0;
    }

    & p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
        color: #8c8c8c;
        margin: 0;
        padding: 25px 0 30px 0;
    }

    &-list {
        list-style-type: none;
        margin: 0;
        padding-left: 48px;

        & li {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
            color: #8c8c8c;

            &:before {
                content: ">";
                display: inline-block;
                width: 21px;
                height: 21px;
                border-radius: 50%;
                background-color: #c7b299;
                text-align: center;
                line-height: 21px;
                color: #fff;
                margin-right: 30px;
            }
        }

    }
}

.stats {
    min-height: 300px;
    background-image: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    justify-content: center;

    &-block {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 170px;
        padding: 0 15px 0 15px;

        svg {
            fill: #c7b299;
            padding-bottom: 30px;
        }

        &-numbers {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 200;
            line-height: 0.75;
            padding-bottom: 13px;
        }

        &-text {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.43;
            color: #c7b299;
            text-transform: uppercase;


            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 2px;
                background-color: #fff;
                margin: 26px auto 0 auto;
            }
        }



    }


}

.posts {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        color: #555555;
        margin: 0;
        padding-top: 70px;
    }

    p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.75;
        color: #8c8c8c;
        text-align: center;
    }

    &-wrap {
        margin-top: 20px;
        display: flex;
    }

    &-item {

        width: 370px;
        position: relative;
        margin: 0 15px;
        display: flex;
        flex-direction: column;

        .item-txtwrap {
            background-color: #f8f8f8;
        }

        .item-picwrap {
            width: 370px;
            height: 220px;


        }

        &-calendar {
            position: absolute;
            top: 20px;
            left: 20px;

            .date {
                display: block;
                width: 50px;
                height: 35px;
                background-color: #363636;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 300;
                line-height: 35px;
                text-align: center;
            }

            .month {
                display: block;
                width: 50px;
                height: 25px;
                background-color: #252525;
                font-family: Roboto;
                font-size: 12px;
                line-height: 25px;
                text-align: center;
            }
        }

        h3 {
            font-family: Raleway;
            font-size: 20px;
            font-weight: 500;
            color: #555555;
            margin: 0;
            padding: 25px 0 16px 30px;
        }

        p {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.57;
            color: #8c8c8c;
            margin: 0;
            padding: 0 0 20px 30px;
            text-align: left;
        }

        a {
            display: block;
            text-decoration: none;
            padding-left: 30px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.43;
            color: #c7b299;
            padding-bottom: 27px;
            width: 100%;

            &::after {
                content: '';
                display: inline-block;
                background-image: url(../img/icons/arrow.svg);
                width: 5px;
                height: 8px;
                margin-left: 9px;
            }

        }

        &:hover {

            .item-txtwrap {
                background-color: #362f2d;
            }

            .item-picwrap {
                background: rgba(17, 17, 17, 0.7);
                background-blend-mode: darken;
            }

            h3 {
                color: #c7b299;
            }

            p {
                color: #ffffff;
            }

            .date {
                background-color: #c7b299;
            }

            .month {
                background-color: #a48d72;
            }

        }

    }

    .active-post {
        .item-txtwrap {
            background-color: #362f2d;
        }

        .item-picwrap {
            background: rgba(17, 17, 17, 0.7);
            background-blend-mode: darken;
        }

        h3 {
            color: #c7b299;
        }

        p {
            color: #ffffff;
        }

        .date {
            background-color: #c7b299;
        }

        .month {
            background-color: #a48d72;
        }
    }

    &-navbuttons {
        margin: 38px auto 77px auto;

        button {
            outline: none;
            border: 2px solid #d1d1d1;
            border-radius: 50%;
            color: #d1d1d1;
            width: 24px;
            height: 24px;
            background-color: #fff;
            font-size: 22px;
            line-height: 10px;
            padding: 0;
            margin: 0 1px;

            &:hover {
                border-color: #c7b299;
                color: #c7b299;
            }

            &:active {
                border-color: black;
                color: black;
            }




        }

        .active-postsnavbutton {
            border-color: #c7b299;
            color: #c7b299;
        }
    }

}

.partners {
    background: rgba(17, 17, 17, 0.7) url(../img/partners-bgpic.jpg) center center no-repeat;
    background-blend-mode: darken;
    min-height: 489px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        padding: 11px 43px 0 47px;

        &:hover img,
        &:active img {
            mix-blend-mode: overlay;
        }

    }

}

footer {

    width: $fullWidth;
    margin: 0 auto;
    /* box-sizing: border-box;
    

    section {
        padding: 0;
        margin: 0;
    }  */
}

.info {
    background-color: #191919;
    padding: 80px 360px 40px 360px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    h2 {
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
        margin: 0;
        padding: 24px 0 25px 0;
    }

    p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        color: #555555;
        margin: 25px 0;
    }

    div {
        width: 270px;
        margin: 0 15px;
    }

    a {
        text-decoration: none;
        display: block;
        text-decoration: none;
    }

    &-innerlink {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        color: #555555;
        border-bottom: 1px solid #252525;
        padding-bottom: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:hover {
            color: #c7b299;
            border-color: #fff;

            time {
                color: #fff;
            }

            span.minutes {
                color: #c7b299;
            }
        }

        &:active {
            color: white;
            border-color: white;

            time {
                color: white;
            }

            span.minutes {
                color: white;
            }
        }




    }

    .active-innerlink {
        color: #c7b299;
        /* border-color: #fff; */

        time {
            color: #fff;
        }

        span.minutes {
            color: #c7b299;
        }
    }

    time {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.67;
        color: #363636;
    }

    &-logo-readmore {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        color: #d1d1d1;
        padding-bottom: 27px;
        width: 100%;

        &::after {
            content: '\25b6';
            display: inline-block;
            /*  background-image: url(../img/icons/arrow.svg);
            width: 5px;
            height: 8px; */
            margin-left: 9px;
        }

        &:hover {
            color: #fff;
        }

        &:active {
            color: royalblue;
        }

    }

    &-twitter {

        span.username {
            color: #00bff3;
        }

        span.minutes {
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            color: #363636;
            display: block;
        }
    }

    &-widget {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 260px;

        img {
            margin-bottom: 10px;

            &:hover {
                opacity: 0.5;
            }
        }
    }

}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 39px 363px 51px 366px;
    background-color: #111111;
    box-sizing: border-box;

    a {
        text-decoration: none;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
        line-height: 13px;
        color: #555555;
        padding: 0 10px;
        border-right: 1px solid #555555;

        &:last-child {
            border: none;
        }

        &:hover {
            color: #c7b299;

            span {
                color: #c7b299;
            }
        }

        &:active {
            color: #fff;

            span {
                color: #fff;
            }
        }
    }

    &-litetxt {
        color: #959595;
    }

    &-faq {
        color: #c7b299;
    }
}

@media (max-width: $mobileWidth) {

    body {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    header {
        width: 100%;
        min-height: 117px;
        height: min-content;
        background-attachment: unset;
        background-size: cover;
        box-sizing: border-box;

        .header-nav {
            height: min-content;
            padding: 27px 40px 0 32px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .header-nav-list {
            flex-basis: 100%;
            visibility: hidden;
            height: 0;
        }

        .header-nav-list ul {
            height: 0;
            margin: 0;
            width: 100%;
            flex-direction: column;
        }

        .header-cart,
        .search-icon-form__label,
        .header-main,
        .header-main-pagination {
            display: none;
        }

        #header-nav-toggle {
            display: flex;
            width: 60px;
            height: 60px;
            cursor: pointer;
            z-index: 2;
            position: absolute;
            top: 27px;
            right: 32px;
            appearance: none;

        }

        label {
            display: block;
            width: 60px;
            height: 60px;
            z-index: 2;
            background-image: url(../img/menu.svg);


        }

        #header-nav-toggle:checked~label {
            background-image: url(../img/close.svg);
        }

        #header-nav-toggle:checked~.header-nav-list {
            visibility: visible;
            height: auto;
        }

        #header-nav-toggle:checked~.header-nav-list ul {
            flex-direction: column;
            width: 100%;
            height: 300px;
            padding-top: 30px;
            font-size: 20px;
        }

        #header-nav-toggle:checked~.header-nav-list ul li {
            padding-bottom: 10px;
        }



    }

    section,
    aside {
        width: 100%;
    }

    main {
        width: 100%;

        .features-blok-wrap,
        .features-content-wrap,
        .projects,
        .projects-nav,
        .stats,
        .posts-wrap,
        .partners {
            padding: 15px 0;
            flex-wrap: wrap;
        }

        .features-blok-wrap  :nth-child(1) {order: 1;}
        .features-blok-wrap  :nth-child(2) {order: 3;}
        .features-blok-wrap  :nth-child(3) {order: 2;}
        .features-blok-wrap  :nth-child(4) {order: 4;}


        .features-block {
            margin: 0 0 40px 0;
            width: 260px;
        }

        .features-pics {
            display: none;
        }

        .features-p,
        .section-desc-p,
        .mobile-wrap {
            width: 100%;
        }

        aside {
            padding: 10px 0;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .aside-wrap {
            max-width: 350px;
        }

        .big-yellow-button {
            margin: 15px auto;
        }

        .projects-nav-element {
            margin-bottom: 10px ;
        }

        .video {
            object-fit: cover; 

            video {
                height: 660px;
            }

            .video-content-playbtn {
                margin-top: 200px;
            }
        } 

        .mobile {
            padding: 40px; 
            background-position: 30px 240px;
            background-size: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }

        .mobile-wrap { 
            margin-top: 0;

            h2 {
                text-align: center;
                
            }
             
            p {
                font-size: 14px;
            }

            li {
                font-size: 12px;
            }

            ul {
                display: flex;
                flex-direction: column;
                max-width: 290px;
                float: right;

            }
/* 
            Поскольку мобильный макет сделан так себе, ужатой картинкой, отрезанным текстом и явно без мыслей о том, как это будет выглядеть - не вижу смусла позиционировать список согласно макету же, лоигку сохраняю, за пиксльхантингом не гонюсь
 */
        
        }

        .posts-wrap {
            justify-content: space-around;
        }

        .posts-item {
            margin-bottom: 15px;
        }

        .partners {
            justify-content: space-around;
            min-height: 170px;
            background-size: cover;
        }

        .partners a {
            padding: 0 10px;          

        }

        .partners a  img{
           min-width: 90px;
           max-width: 100px;
           max-height: 90px;         

        }


    }

    footer {
        width: 100%;

        .info {
        width: 100%;
        box-sizing: border-box;
        padding: 40px 0 40px 0;
        flex-wrap: wrap;
        flex-direction: row;
 
           div {
                max-width: 220px;
            }  

            .info-widget {
                height: fit-content;
            }
        } 

        .bottom {
            padding: 39px 0 51px 0;

            &-left {
                margin: 0 auto;
                
                & a {border-right: none;}

            }

            .bottom-right {
                display: none;
            }
        }


    }




}