@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}



$fullWidth: 1920px;

/* временная переменная штука для быстрого включения выключения границ элемента при отладке */
@mixin tempBorder {
    border: 2px solid red; 
    box-sizing: border-box; 
}

body {
    font-family: 'Montserrat';
    
    a {
        text-decoration: none;
       /*  display: block; */
    }

}

header {
    width: $fullWidth;
    background: rgba(17, 17, 17, 0.7) 
    url(../img/header-photo.jpg) center center no-repeat;
    background-blend-mode: darken;
    height: 1024px;
    margin: 0 auto;

    .header-nav {
        display: flex;
        padding: 40px 374px 285px 374px;
        height: 56px;
        justify-content: space-between;


        .header-logo {
            font-family: 'Raleway';
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -1.36px;
            line-height: 56px;
            color: #ffffff;

            &::before {
                content: '';
                background-image: url(../img/icons/logo.svg);
                display: block;
                float: left;
                width: 64px;
                height: 56px;
                margin: 0;
            }
    
        }

        .header-nav-list {
            font-weight: 300;
            font-size: 14px;

            ul {
                display: flex;

                li {
                    list-style: none;
                    padding-right: 30px;

                    a {
                        color: #ffffff;
                    } 
                }
            }

        }
        
        .header-cart {
            @include tempBorder;

        }

        .header-search {
            @include tempBorder;

        }
    }

}